{
  "$schema": "https://json.schemastore.org/prettierrc",
  "pri ntWidth": 100,
  "plugins": ["prettier-plugin-jsdoc"],
  "proseWrap": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "tabWidth": 2
}
