.main {
  display: flex;
  flex-grow: 1;
  overflow: "hidden";
  touch-action: pan-y;
  touch-action: pan-x;
  touch-action: cross-slide-y;
  touch-action: cross-slide-x;
  position: relative;
}

.navbar {
  background-color: var(--main-navbar);
  text-align: right;
  border-bottom: var(--border);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: space-between; */
  padding: 0;
}

.navbar_links {
  color: white;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.8;
}

.h1 {
  margin: 0 0.5em;
  color: white;
  display: inline;
  width: fit-content;
}

.img_drop_area {
  width: 95%;
  padding: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.3rem;
  align-items: center;
}

.btn_opn_files {
  height: fit-content;
  padding: 0.5em;
  flex: auto;
  background-color: rgb(from var(--main-navbar-hex) r g b / 0);
  border: 0.1rem solid rgb(109, 109, 148);
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    font-size: 1.1rem;
    border: 0.1rem solid rgb(255, 255, 255);
  }
}

.open_dir_btn {
  padding: 0;
  width: 100%;
  text-align: left;
  border: var(--border-sidebar-itms);
  border-radius: 0.3rem;
  background-color: var(--dir-btn-color-rgb);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
