.main {
  display: flex;
  flex-grow: 1;
  overflow: "hidden";
  touch-action: pan-y;
  touch-action: pan-x;
  touch-action: cross-slide-y;
  touch-action: cross-slide-x;
  position: relative;
}

.navbar {
  background-color: var(--main-navbar);
  text-align: right;
  border-bottom: var(--border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 1rem;
}

.navbar_links {
  color: white;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1.8;
}

.h1 {
  margin-right: auto;
  color: white;
  display: inline;
  width: fit-content;
  text-align: left;
}

.img_drop_area {
  width: 95%;
  padding: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.3rem;
  align-items: center;
}

.btn_opn_files {
  height: fit-content;
  padding: 0.5em;
  flex: auto;
  background-color: var(--main-navbar);
  border: var(--btn_border);
  border-radius: 0.5rem;
  color: white;
  font-size: var(--btn_font_size);
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    border: var(--btn_hover_border);
  }
}

.open_dir_btn {
  padding: 0;
  width: 100%;
  text-align: left;
  border: var(--border-sidebar-itms);
  border-radius: 0.3rem;
  background-color: var(--dir-btn-color-rgb);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
